* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
    height: 4rem;
    
    
}

.site-titlepm {
    display: flex;
    flex: 3;
    color: rgb(26, 26, 13);
    background-color: yellow;
    height: 4rem;

    
}

ul {
    display: flex;
    background-color: pink;
    list-style-type: none;
    height: 4rem;
    
}
li {
    display: flex;
    flex: 1;
    height: 4rem;
}