* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
    color: rgb(199, 203, 207);
  }
a:visited {
    text-decoration: none;
    color: rgb(199, 203, 207);
  }
body {
    /* background-image: url(softwaredeveloper.jpg); */
    background-image: linear-gradient(to bottom, rgb(68, 68, 255), rgb(15, 15, 53));
    background-color: rgb(0, 0, 0);
    font-family: Unna, serif;
    font-size: x-large;
    color:rgb(199, 203, 207);   
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
background-color: rgba(0, 0, 0, 0.482);
background-image: url(https://images.pexels.com/photos/301489/pexels-photo-301489.jpeg);
 background-size: cover; 
 object-fit: cover;
    /* color: white; */
   /*  margin-bottom: 30px;
    padding: 30px; */

}
#logo {
    /* display: flex;
    align-items: left;
    justify-content: space-between; */
    height: 150px;
     /* padding: 2rem; */
}
nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:flex-start; */
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

header li {
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  
  padding-right: 5rem;

}
.link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
    color: rgb(199, 203, 207);

}

/* main {
    text-align: center;
    /*  background-image: linear-gradient(to bottom, rgb(68, 68, 255), rgb(0, 0, 0)); 
} 
*/


h1 {
    margin: 19.5rem 0 0 0;
}

h2 {
    margin-bottom: 3rem;
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
   /*  margin: 10rem; */
}

 #first {
    padding: 4rem;
    text-align: left;
    padding-bottom: 10rem;
    
} 
#second {
    background:rgba(223, 145, 0, 0.665);
    padding: 4rem;
    text-align: left;
    padding-bottom: 10rem;
}

#image2 {
    float: left;
    margin: 0 2rem 0 0;
}
#third {
    padding: 4rem;
    text-align: left;
    padding-bottom: 10rem;
    /* background: rgba(178, 172, 255, 0.181); */
}
/*
#second {
    width: 40vw;
} */
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    max-width: 750px;
    object-fit: cover;

}
p {
    font-size: x-large;
}
.mainContainer img {
    /*
    object-fit: cover;
     width: 100%;
    width: 600px; */
    width: 40vw;
    float: right;
    margin-left: 2rem;
}
*/
#logo {
    min-width: 100px;
    max-width: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* #second {
    background:rgb(176, 91, 0);
} */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #DB9721; */
    background-color: rgba(194, 97, 255, 0.019);
    color: white;
    bottom: 0px;
    width:100%;
    height:120px;
    border-top: 3px;
    border-top-style: solid;
    border-color: rgba(255, 255, 255, 0.036);
}
#contactVessel {
    margin: 20px auto;
    width: 600px;
    display:inline-block
}
