* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(softwaredeveloper.jpg); */
    background-image: linear-gradient(to bottom, rgb(68, 68, 255), rgb(0, 0, 0));
    background-color: rgb(0, 0, 0);
    font-family: Unna, serif;
    font-size: x-large;
    color:rgb(199, 203, 207);   
}

header {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    width: 100vw;
background-color: rgb(0, 0, 0);
/* background-image: url(navbar.png); */
/* background-size: cover; */
    color: white;
   /*  margin-bottom: 30px;
    padding: 30px; */
}
#logo {
    display: flex;
    flex: 3;
    max-height: 200px;
    padding: 2rem;
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

header li {
  /*   display:inline-block; */
  display: flex;
  /* flex-direction: column; */
  
  padding: 5rem;

}
.link {
    display: flex;
    flex: 1;
}

/* main {
    text-align: center;
    /*  background-image: linear-gradient(to bottom, rgb(68, 68, 255), rgb(0, 0, 0)); 
} 
*/


h1 {
    margin: 2rem;
}

h2 {
    margin-bottom: 3rem;
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
   /*  margin: 10rem; */
}

 #first {
    padding: 4rem;
    text-align: left;
    
} 
#second {
    background:rgb(223, 145, 0);
    padding: 4rem;
    text-align: left;
}
#image2 {
    float: left;
    margin: 0 2rem 0 0;
}
#third {
    padding: 4rem;
    text-align: left;
}
/*
#second {
    width: 40vw;
} */
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    max-width: 750px;
    object-fit: cover;

}
p {
    font-size: x-large;
}
img {
    /*
    object-fit: cover;
     width: 100%;
    width: 600px; */
    width: 40vw;
    float: right;
    margin-left: 2rem;
}
*/
#logo {
    min-width: 100px;
    max-width: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* #second {
    background:rgb(176, 91, 0);
} */
footer {
    /* background-color: #DB9721; */
    background-color: rgb(176, 91, 0);
    color: white;
    bottom: 0px;
    width:100%;
    height:120px;
}
#contactVessel {
    margin: 20px auto;
    width: 600px;
    display:inline-block
}
